@import '../styles/variables';

h1 {
  margin-bottom: $rhythm / 3;
}

.date {
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
  font-size: 0.85rem;
  font-family: $sans-serif;
}

.posts-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
