@import '../styles/variables';

.title {
  margin-bottom: $rhythm / 3;
}

.date {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
  font-size: 0.85rem;
  font-family: $sans-serif;
  color: $darkgray;
}

ul.posts-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 0;

  a {
    color: black;
  }
}

.newsletter-description {
  margin-bottom: $base-size;
}