@import '../styles/variables';

.meta {
  font-family: $serif;
  font-size: $base-size * 0.8;
  text-transform: uppercase;
}

.meta {
  margin-bottom: 0;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.card {
  padding: $rhythm * 1.2;
  border: 1px solid $gray;
  border-radius: 5px;
  margin-bottom: $rhythm;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $rhythm;

  &:hover {
    text-decoration: underline;
    color: $blue;
  }
}

@function reduce-opacity($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

.card1 {
  $opacity: 1;
  border-color: reduce-opacity($blue, $opacity);
  border-width: 2px;
  box-shadow: 2px 2px 3px 0 reduce-opacity($blue, $opacity);
}

.card2 {
  @extend .card1;
  $opacity: 0.6;
  border-color: reduce-opacity($blue, $opacity);
  box-shadow: 2px 2px 3px 0 reduce-opacity($blue, $opacity);
}

.card3 {
  @extend .card1;
  $opacity: 0.3;
  border-color: reduce-opacity($blue, $opacity);
  box-shadow: 2px 2px 3px 0 reduce-opacity($blue, $opacity);
}

.excerpt {
  margin-bottom: $rhythm;
  line-height: $rhythm;
}

ul.posts-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 0;

  a {
    color: black;
  }
}

// Portrait and Landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .title {
    margin-top: $base-size * 1.25;
  }
}
