// colors
$red: #cc2936;
$blue: #4CA9EA;
$beige: #F6F5EF;
$gray: #EDEADE;
$darkgray: #404040;

// typogrpahy
$sans-serif: "Inter var",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;

// measurements
$base-size: 1rem;
$rhythm: $base-size * 1.5;