// colors
$red: #cc2936;
$blue: #4CA9EA;
$gray: rgb(239, 239, 239);

// typogrpahy
$sans-serif: "Inter var",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;

// measurements
$base-size: 1rem;
$rhythm: 1.75rem;