@import './variables';

/**
* COLORS
*/
body {
    // background-color: $beige;
}
h1, h2, h3, h4, h5, h6 {
    a {
        color: black;
    }

    a:hover {
        color: $red;
    }
}
h4, h5, h6 {
    font-size: $base-size;
}
h3 {
    font-size: $base-size * 1.25;
}
h2 {
    font-size: $base-size * 1.5;
}
h1 {
    font-size: $base-size * 2;
}
a {
    text-decoration-color: $red;
    color: $red;
}

/**
* TYPOGRAPHY AND SIZING
*/
h1, h2, h3, h4, h5, h6, nav {
    font-family: $sans-serif;
}

// Portrait and Landscape
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h4, h5, h6 {
        font-size: $base-size;
    }
    h3 {
        font-size: $base-size * 1.25;
    }
    h2 {
        font-size: $base-size * 1.5;
    }
    h1 {
        font-size: $base-size * 1.75;
    }
}

/**
* SPACING
*/
pre {
    margin-top: 0 !important;
    margin-bottom: $rhythm !important;
}
hr {
    margin-bottom: $rhythm;
}
ol, ul {
    margin-left: $rhythm;
}

/**
* EVERYTHING ELSE
*/