$red: #cc2936;

body {
    background-color: #F5EFDF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter var",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,sans-serif;

    a {
        color: black;
    }

    a:hover {
        color: $red;
    }
}

a {
    text-decoration-color: $red !important;
    color: $red;
}

footer {
    a {
        text-decoration: none;
        box-shadow: none;
    }
    
    img {
        margin-bottom: 0;
    }
}