@import '../styles/variables';

.title {
  line-height: $base-size * 1.75;
  margin-bottom: 0;
  margin-top: $base-size * 2;
  font-weight: 600;
}

.date {
  font-family: $sans-serif;
  margin-bottom: $base-size / 4;
  display: block;
  color: gray;
}