@import '../styles/variables';

button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: black;
  text-decoration-color: black;
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 0 2px 0 0 $blue;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 0 0 $blue;
  }
}

.title {
  line-height: $base-size * 1.5;
  margin-bottom: 0;
  margin-top: $base-size * 1.75;
  font-weight: 500;
  font-size: $base-size * 1.1;
  color: black;

  a {
    color: black;
  }
}

.date {
  font-family: $sans-serif;
  font-size: $base-size * 0.8;
  margin-bottom: $base-size / 4;
  margin-top: $base-size / 8;
  display: block;
  color: gray;
}

.hidden {
  display: none;
}

// Portrait and Landscape
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .title {
      font-size: $base-size;
      margin-top: $base-size * 1.25;
    }
    .date {
      font-size: $base-size * 0.7;
    }
}