@import '../styles/variables';

.meta {
  font-family: $serif;
  font-size: $base-size * 0.8;
  text-transform: uppercase;
}

.meta {
  margin-bottom: 0;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.card {
  padding: $rhythm * 1.2;
  border: 1px solid $gray;
  border-radius: 5px;
  margin-bottom: $rhythm;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: $rhythm;

  &:hover {
    text-decoration: underline;
    color: $blue;
  }
}

.excerpt {
  margin-bottom: $rhythm;
  line-height: $rhythm;
}
