@import '../styles/variables';

.sectionHeading {
  border-bottom: 1px solid $gray;
  padding: $base-size*0.7 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $base-size*0.7;
}
.listItem {
  border-bottom: 1px solid $gray;
  padding: $base-size*0.7 0;
  margin-bottom: 0;
}
.hyperlink {
  color: black;
}

.twoColumnFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.twoColumnFlexItem {
  flex-basis: 47%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .twoColumnFlexContainer {
      display: block;
    }
    .twoColumnFlexItem {
      width: 100%;
    }
}