@import '../styles/variables';

.site-footer {
  margin-top: $rhythm;
  a,
  a:hover {
    text-decoration: none;
    box-shadow: none;
  }

  img {
    margin-bottom: 0;
  }
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  a {
    text-decoration: none;
    box-shadow: none;
    color: black;
  }
}

.nav-item {
  margin-right: 1rem;
  margin-bottom: 0;
  text-decoration: none;
  box-shadow: none;
}