@import '../styles/variables';

.site-footer {
  margin-top: $rhythm;
  a,
  a:hover {
    text-decoration: none;
    box-shadow: none;
  }

  img {
    margin-bottom: 0;
  }
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}