@import '../styles/variables';

.site-title {
  font-size: $base-size * 2.3;
  margin-bottom: $base-size * 1.5;
  margin-top: 0;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  a {
    text-decoration: none;
    box-shadow: none;
  }
}

.nav-item {
  margin-right: 1rem;
  text-decoration: none;
  box-shadow: none;
}