@import '../styles/variables';

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 50rem;
}

.content {
  flex-grow: 1;
}

.body {
  margin-top: $base-size * 3;
}